:root{
    --header-height: 70px;
    --color-azul:#148282;
    --color-morado:#c24c99;
    --amarillo:#E6A429;
    --background: rgba(0, 0, 0, 0.719) ;
    --font:font-family: "Barlow Condensed", sans-serif;
}

/* Dispositivos md Tablet */
/* 0 - 768px */
@media (max-width: 500px) {
.h1{
    font-size: 40px;

}
.h2{
    font-size: 20px;
}
.nombre{
    font-size: 15px;
}

.imgproyecto1{
width: 100px;
height: 100px;


}
.imgproyecto2{
    width: 50px;
    height: 50px;
}
fieldset{
width: 100px;

}
.acordeon{
width: 200px;  
}


}


header{
    margin: 0%;
}

body{
margin: 0px 10px;
color: white;
background-image:url(../img/22.jpg);
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

/*========letras====*/

h1{
font-size: 60px;
margin:0px;
}

h2{
margin: 0%;
font-family: "Barlow Condensed", sans-serif;
font-size: 30px;
color: var(--amarillo);

}



h3{
margin: 0%;
}

h4{
    font-size: 12px;

}

h5{
font-size: 10px;
}

p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    
}

.divtestimoniocontenido p{
    font-size: 12px;
    margin: 0px;
}

.nombre{
    font-size: 40px;
    margin:0px;
    color: #E6A429;
    opacity:0.7;
    
}


/*============= nav ======*/


.contenedor1{
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5em;
    margin: .5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -1px rgba(235, 232, 232, 0.651);
    background-color: rgba(0, 0, 0, 0.719);
    animation: backInDown;
    animation-duration: 1.5s;
    
    
}

.logo{
    background-color: white;
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 10px -1px rgba(235, 232, 232, 0.651);
    border-radius: 5px;
    border:2px solid;

}
.logo:hover{
transform: scale(1.1);
overflow: hidden;

}
nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 16px;
    
    
    
    
}

nav> a{
font-family: "Barlow Condensed", sans-serif;
text-decoration: none;
font-weight: bold;
color: white;
border: 1px solid white;
font-weight: bold;
background-color: #c24c99;
box-shadow: 0px 0px 5px -1px;
border-radius: 5px;
padding: .5rem;
scroll-behavior: smooth;




}

nav> a:hover{
    font-family: "Barlow Condensed", sans-serif;
    transform: scale(1.1);
    transition: .05s;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px;
    background-color:#148282;
    color: white;
    font-weight: bold;
    
}

.imggit{
    width: 50px;
    height: 50px;
}

.imggit:hover{
    transform: scale(1.1);
}






/*==================header+*/


.secinfo{
    
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--background);
}


.contenedorinfo{
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
        
}

.foto{
    align-content: center;
    height: auto;
    width: 200px;
}



/*=====================ANIMACION SPINER*/ 
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: #148282;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #6BD1D1;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }
/*===========FINSPINER*/






/*======================HABILIDADES=============*/


.habilidades{
    margin: 10px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 40px 0px;
    
    

}


summary{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    background-color: var(--color-azul);
    box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, 0.993);  
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
    padding: 1em;
}

summary:hover{
    background-color: var(--color-morado);
}


.divhabilidades{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 30px;
margin: 15px;

    
}

.contenedorhabilidades{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 60px;
height: auto;
padding: 1rem;

}

.divimgprogramacion{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 300px;
gap: 1em;


}



.imgprogramacion{
    width: 100px;
    height: 100px;
    border-radius: 16px;
    
}

.imgprogramacion:hover{
    transform: scale(1.2);
    
}



/*===============Acordeon*/
.acordeon{
border-radius: 5px;
border: 2px solid;
padding: .5em;
width: 250px;
box-shadow:5px 5px 2px 5px rgba(255, 255, 255, 0.247);
}

details{
border-radius: 16px;
margin: .5em 0;
}


.contenidoacordeon{
    border-radius: 16px;
    border: 2px solid;
    padding: 1em;

}
/*===================proyectos*/

.proyectos{
margin: 10px;
height: auto;
border-radius: 16px;
padding: 40px 0px;
background-color: rgba(0, 0, 0, 0.822);


}


.divproyectostitulo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.divproyectocontenido{
display: flex;
justify-content: center;
align-items: center;
height: auto;
flex-wrap: wrap;
gap: 30px;
padding: 20px 20px 0px 20px;




}

.divimagenesproyecto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 16px;
    box-shadow: 2px 2px 25px 1px rgba(255, 255, 255, 0.849);
}

.divempresa{
    margin-top: 30px;
    text-align: center;
}

.imgproyecto1:hover{
transform: scale(1.1);

}
.imgproyecto2:hover{
    transform: scale(1.1);
    
    }

.imgproyecto1{
width: 350px;
height: auto;


}

.imgproyecto2{
    width: 130px;
    height: auto;
}

/*==================== experiencia*/
.experiencia{
    margin: 10px;
border-radius: 16px;
box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.479);
padding: 40px 0px;
height: auto;
background-color: rgba(0, 0, 0, 0.822);

}

.divexperienciatitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .divexperienciacontenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
    
        
    }

    /*===================contenido testimonio*/

.divtestimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 1rem;
    gap: 20px;
}

.divtestimoniocontenido{
    display: flex;
    justify-content: start;
    align-items: center ;
    flex-wrap: wrap;
    
}

.divimgexperiencia{
    display: flex;
    justify-content: center;
    align-items: center;

}


.experiencia img {
    border: 1px solid black;
    margin: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    
    
    
}


.contenedortestimonio{
border: 6px ridge rgb(192, 185, 185);
padding-left: 10px;
padding-right: 10px;
border-radius: 16px;
max-width: 200px;
background-color: rgba(15, 14, 14, 0.699);
box-shadow: 2px 2px 2px 2px rgb(54, 49, 49);
    
}

.contenedortestimonio:hover{
    transform: scale(1.1);
    
    }

/*===================================slider*/

    /*==============Contacto*/

    .contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    margin: 10px 10px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 16px;
       

    }
    
    .divcontactotitulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        }
        
        .divcontactocontenido{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 50px;
        flex-wrap: wrap;
       }


        /*=============0formulario*/

        fieldset{
            width: px;
            display: flex;
            flex-direction: column;
            border: 2px solid ;
            border-radius: 16px;
            font-family: "Barlow Condensed", sans-serif; 
            font-size: 25px;
            height: auto;
            background-color: rgba(255, 255, 255, 0.24);
            
            

        }

        .contactame{
            
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 2em;
            border-radius: 16px;
            border: 1px solid;
            background-color: rgba(255, 255, 255, 0.24);
            
        }
        .contactame:hover{
            overflow: hidden;
            transform: scale(1.1)
            
            
        }
        .botones{
            margin-top: 1em;
            border-radius: 5px;
            padding: .5em;
            background-color: var(--color-azul);
            border: 2px solid white;
            box-shadow: 1px 1px 1px 1px white;
    
        }
        .botones:hover{
            background-color: var(--color-morado);

        }
        .mailsend{
            text-decoration: none;
            color: white;
        }
                
        /*======formulario estilos*/

        label{
            font-family: "Barlow Condensed", sans-serif; 
            font-size: 20px; 
            
            
        }
        .input{
            font-family: "Barlow Condensed", sans-serif; 
            font-size: 20px; 
            border: none;
            background-color: rgba(255, 255, 255, 0.712);
            border-radius: 16px;
            font-weight: 500;
                    
            
        }
        
        input:hover{
            transition: .5s;
            
        }
         .input{
            font-family: "Barlow Condensed", sans-serif; 
            font-size: .6em; 
            
            
         }

         

        /*=============0fcontactame*/

        .divimgcontacto2{
        display: flex;
        gap: 1em;
        
        }

        .imgcontacto{
            cursor: pointer;
            height: 40px;
            height: 40px;
        }

        /*==========footer*/
        footer{
            margin: 2px;
            animation: backInUp;
            animation-duration: 2s;
        }
        .secfooter{
        
        padding: 1rem;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.822);

        }
        .contenedorfooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        

        }

        .contenedor,h2{
            margin: 0%;
        }


        .contenedorderechos{
        text-align: center;
            
        }